<form action="/cars/add" method="POST">
    <input type="text" class="form-control mb-3" name="model" placeholder="Modelini yozing">
    <label class="form-lable"> Avtomobil rangi</label>
    <input type="color" class="form-control mb-3" name="color">
    <input type="numder" class="form-control mb-3" name="distance" placeholder="Bosib o`tilgan yo`li">
    <input type="numder" class="form-control mb-3" name="year" placeholder="Ishlab chiqarilgan yili">
    <button type="submit" class="btn btn-primary">Jo'natish</button>
</form>