<h1>{{title}}</h1>
<form action="/tasks" method="POST">
    <input type="text" class="form-control mb-3" name="title" placeholder="Topshiriq sarlovhasi" required>
    <textarea name="text" class="form-control mb-3" placeholder="Tapshiriq matni"></textarea>
    <select name="userId" class="form-control mb-3">
        <option selected> Xodimni tanlang </option>
        
    </select>
</form>